@font-face {
	font-family: determination;
	src: url("./assets/DTM-Sans.otf");
}

:root {
	--text: #ffffff;
	--bg: #16171d;
	--light-background: #2e303a;
	--border: #1f2028;

	letter-spacing: 0.18px;
	color-scheme: light dark;
	color: var(--text);
	background: var(--bg);
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	font-size: 16px;
}

body { font-family: determination; }

input[type="file"] {
	display: block;
	visibility: hidden;

	width: 100%;
	height: 100%;
}

#contextmenu-container {
	position: absolute;
	display: flex;

	flex-wrap: wrap;
	flex-direction: column;
	align-items: flex-start;
	align-content: flex-start;

	background-color: var(--light-background);
	border: 4px solid var(--border);
	border-radius: 4px;

	font-size: 20px;

	margin: 0;
}

.collection {
	background-color: var(--light-background);
	border: 4px solid var(--border);

	text-align: center;

	margin: 8px;
	padding: 8px;

	width: -webkit-fill-available;
	width: -moz-available;

	font-size: 24px;
}

.clickable { cursor: pointer; }

.icon {
	width: 32px;
	height: 32px;

	background-repeat: no-repeat;
	background-size: 100% 100%;
}


.card {
	position: relative;
	display: inline-block;
	image-rendering: pixelated;

	width: 348px;
	height: 508px;

	background: black;
	border: 2px solid white;

	padding: 8px;
}

.card-name {
	display: block;

	background: none;
	border: none;

	text-align: center;
	color: inherit;

	width: 100%;
	padding: 0 40px;
	margin-bottom: 8px;

	font-family: determination;
	font-size: 24px;
}

.card-stats {
	display: grid;
	position: absolute;

	gap: 8px;
	top: 8px;
	left: 8px;
}

.card-cost, .card-attack, .card-life {
	display: inline-block;
	text-align: center;

	background: inherit;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding-left: 2px;

	width: 32px;
	height: 32px;

	font-family: determination;
	font-size: 32px;
	line-height: 30px;
}

.card-cost { color: #00d0ff; }
.card-attack { color: #f0003c; }
.card-life { color: #0dd000; }

.card-collection {
	position: absolute;

	top: 8px;
	right: 8px;

	width: 32px;
	height: 32px;
}

.card-effect { height: 212px; }
.card-effect p { margin-top: 8px; }

.card-portrait, .card-effect {
	display: block;

	width: 312px;

	margin-left: auto;
	margin-right: auto;

	font-size: 16px;
}

.card-portrait {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border: 2px solid white;

	height: 232px;
}

.card-name-effect {
	text-decoration: underline;
	color: #00d0ff;
}
