@font-face {
	font-family: determination;
	src: url("./assets/DTM-Sans.otf") format("truetype");
}

:root {
	--text: #F5F5F5;
	--background: #222831;
	--light-background: #393E467F;
	--border: #F5F5F5;

	color-scheme: light dark;
	interpolate-size: allow-keywords;
	color: var(--text);
	background: var(--background);
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	font-size: 16px;
}

body { font-family: determination; }

input[type="file"] {
	display: block;
	visibility: hidden;

	width: 100%;
	height: 100%;
}

#contextmenu-container {
	position: absolute;
	display: flex;

	flex-wrap: wrap;
	flex-direction: column;
	align-items: stretch;
	align-content: flex-start;

	margin: 0;

	background-color: var(--background);
	border: 4px solid var(--border);
	border-radius: 8px;

	font-size: 20px;
}

#contextmenu-container button {
	background: none;
	text-align: start;
	padding: 8px;

	width: -webkit-fill-available;
	width: -moz-available;
}

hr.vl {
	display: inline-block;

	border: thin solid white;

	margin: 0 12px;
	height: 32px;
}

.clickable { cursor: pointer; }

.icon {
	width: 32px;
	height: 32px;

	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}
